@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
    line-height: 1.2;
}

body{
    font-family: "Helvetica Neue", Helvetica,Arial,  sans-serif;
    font-weight: 400;
}